
body{
	background-color: #04F2F9;
}

h1{
	font-size:50px;
	text-align: center;
	background-color: blue;
}

h3{
	font-size: 50px;
	text-align: center;
	background-color: #F9E604;
}

a{
	text-decoration: none; color: black; width: auto;  padding-left: 45%; 
}


  
  
  