
h1 ,  h2 ,  h3 ,  p {
    padding-left : 10 px ;
}

h1 {
    color : greeen;
    background-color:  #cccccc ;
}

h2 ,  h3 {
    color :  #cccccc ;
    background-color: greeen;
}

h3 {
   text-align:  right;
    padding-top :  5 px ;
    padding-right :  10 px ;
    margen :  0 ;
}

p {
    color :greeen;
}

tabla {
    ancho :  90% ;
    padding-left : 15% ;
}

  
  
  