
h1 ,  h2 ,  h3 ,  p {
    padding-left : 10 px ;
}

h1 {
    color : verde;
    color de fondo :  # cccccc ;
}

h2 ,  h3 {
    color :  # cccccc ;
    color de fondo : verde;
}

h3 {
    alineación de texto : derecha;
    padding-top :  5 px ;
    fondo acolchado :  5 px ;
    padding-right :  10 px ;
    margen :  0 ;
}

p {
    color : verde;
}

tabla {
    ancho :  90 % ;
    padding-left : 15 % ;
}

  
  
  